.grid-items:nth-child(1) {
    background: var(--gray_color);
}

.flex_items:nth-child(3) {
    max-width: 750px;
}


input {
    max-width: 450px;
}

button {
    max-width: 450px;
}

label {
    min-width: 140px;
    max-width: 450px;
    transition: var(--transition-1);
    left: 5px;
    top: 29%;
    opacity: 0.9;
}

select {
    outline: none;
    appearance: none;
    max-width: 450px;
}

input:not(:placeholder-shown) ~ label, input:focus ~ label{
    transform: scale(0.7);
    top: 4px;
    left: -12px;
}

input:not(:empty) ~ label{
    transform: scale(0.7);
    top: 4px;
    left: -12px;
}

select:focus ~ label , select:valid ~ label{
    transform: scale(0.75);
    top: 0;
    left: -9px;
}

label[for="birthday"]{
    left: -14px !important;
}

input:not(:placeholder-shown) ~ label[for="username"], input:focus ~ label[for="username"]{
    left: -15px !important;
}

.fa-chevron-down {
    font-size: 0.8rem;
    right: 5%;
    top: 45%;
    color: var(--red_color);
    transition: var(--transition-1);
}

.email, .address, .phone, .username, .password, .register_btt {
    max-width: 450px;
}

@media (min-width: 640px) {
    label {
        left: 10px;
    }

    input:not(:placeholder-shown) ~ label, input:focus ~ label{
        left: -8px;
    }

    select:focus ~ label , select:valid ~ label{
        left: -5px;
    }

    label[for="birthday"]{
        left: -10px !important;
    }

    input:not(:placeholder-shown) ~ label[for="username"], input:focus ~ label[for="username"]{
        left: -10px !important;
    }
}

@media (min-width: 768px) {
    label {
        top: 30%;
        left: 14px;
    }

    input:not(:placeholder-shown) ~ label, input:focus ~ label{
        left: -5px;
    }

    input:valid ~ label[for="birthday"], input:focus ~ label[for="birthday"]{
        left: -4px;
    }

    select:focus ~ label , select:valid ~ label{
        top: 2px;
        left: 0px;
    }
}


@media (min-width: 1024px) {
    input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }

    label[for="username"] {
        top: 29%;
    }
}
@media (min-width: 1280px) {
    .email, .address, .phone, .username, .password {
        max-width: none;
    }

    input#address, input#email, input#phone, input#username, input#password {
        max-width: none;
    }

    .register_btt {
        max-width: 1366px;
    }

    button[type="submit"] {
        max-width: none;
    }
}

